.container {
  width: 1040px;
  margin: 0 auto;
}

.title {
  padding-top: 15%;
}

.listItem {
  background-color: #fff;
  margin-bottom: 3px;
  cursor: pointer;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
