.exitBtn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.headerImg {
  height: 48px;
  width: 48px;
  cursor: pointer;
}
