.container {
  width: 1040px;
  margin: 0 auto;
}

body {
  background: #e5e5e5;
}

.body {
  background: #e5e5e5;
}

.search {
  position: relative;
}

.section {
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
}

.sectionSearch {
  height: auto;
}

.sectionSearch .search {
  position: relative;
  display: flex;
  align-items: center;
}

.mark {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 18%;
  transform: translateY(-50%);
}

.title {
  font-size: 36px;
  line-height: 52px;
  margin-bottom: 40px;
  display: block;
  text-align: center;
  padding-top: 10%;
}
